<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Document</title>
</head>

<body class="articles">
  <div class="navbar-wrapper">
    <div class="container-fluid">
      <nav class="navbar navbar-fixed-top">
        <div class="nav-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Clint's Blog...
              <i class="fa fa-pencil" aria-hidden="true" style="font-size:40px"></i>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="">
                <a href="user/index.html">Popular Articles</a>
              </li>
              <li class="">
                <a href="reviews.html">Post Article</a>
              </li>
              <li class="">
                <a href="favourite.html">My Profile</a>
              </li>
              <li class="">
                <a href="#" data-toggle="modal" data-target="#addblog-modal">Add blog </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="modal fade" id="addblog-modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      
          <div class="addblogmodal-container">
                  <a href="#" data-dismiss="modal" style="float: right;">X</a>
              <h1>Add Article</h1><br>
            <form>
              <input type="text" class="form-control" name="article" placeholder="Article-Title">
              <textarea name="blog-post" placeholder="Blog Post" class="form-control" id="blog-post" cols="30" rows="10"></textarea>
              <input type="submit" name="Add" class="addblog addblogmodal-submit" value="Add Blog">
            </form>
          </div>
      </div>
  </div>
  <div class='page-container'>
    <div class="article-page">
      <main class="articles-container">
        <header>
          <h3> Latest Article </h3>

        </header>
        <section class="blogs">
          <div class="article-info">
            <h2> I am proudly Nigerian!!</h2>
            <p>khjadhgkhjdhgvkagjhgfkfhbdhbdvdbgdhbvdbjbdsbvhbhvbh
              <br> lnnnlsvjkhuvjnknvjknlushuhvnjfufnvnlubvjnjnvbnjnvnjnvj
              <br> jhkjhvsdbkbksbybvbhbbkbsvbhkbvbvbkbsgfybhbkbkskhfbyrbb
              <br> lluhlhiuhhlhp;; hshhuhhurhhivuhnfiojoiiiiiiiuuhhh;v8rj
              <br>
            </p>
            <h4>rate me!</h2>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a> |
              <a href="#"><p>0 comments</p></a>
            <button enable="enable">view more</button>
          </div>
          <hr>
          <div class="article-img">
            <img src="../images/blog (1).jpg" alt="article-Image">
          </div>
        </section>

        <section class="blogs">
          <div class="article-info">
            <h2>Title: I am proudly Nigerian!!</h2>
            <p>khjadhgkhjdhgvkagjhgfkfhbdhbdvdbgdhbvdbjbdsbvhbhvbh
              <br> lnnnlsvjkhuvjnknvjknlushuhvnjfufnvnlubvjnjnvbnjnvnjnvj
              <br> jhkjhvsdbkbksbybvbhbbkbsvbhkbvbvbkbsgfybhbkbkskhfbyrbb
              <br> lluhlhiuhhlhp;; hshhuhhurhhivuhnfiojoiiiiiiiuuhhh;v8rj
              <br>
            </p>
            <h4>rate me!</h2>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a> |
              <a href="#"><p>0 comments</p></a>
            <button enable="enable">view more</button>
          </div>
          <hr>
          <div class="article-img">
            <img src="../images/blog (1).jpg" alt="article-Image">
          </div>

          <section class="blogs">
            <div class="article-info">
              <h2> I am proudly Nigerian!!</h2>
              <p>khjadhgkhjdhgvkagjhgfkfhbdhbdvdbgdhbvdbjbdsbvhbhvbh
                <br> lnnnlsvjkhuvjnknvjknlushuhvnjfufnvnlubvjnjnvbnjnvnjnvj
                <br> jhkjhvsdbkbksbybvbhbbkbsvbhkbvbvbkbsgfybhbkbkskhfbyrbb
                <br> lluhlhiuhhlhp;; hshhuhhurhhivuhnfiojoiiiiiiiuuhhh;v8rj
                <br>
              </p>
              <h4>rate me!</h2>
                <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a> |
              <a href="#"><p>0 comments</p></a>
              <button enable="enable">view more</button>
            </div>
            <hr>
            <div class="article-img">
              <img src="../images/blog (1).jpg" alt="article-Image">
            </div>

            <section class="blogs">
              <div class="article-info">
                <h2> I am proudly Nigerian!!</h2>
                <p>khjadhgkhjdhgvkagjhgfkfhbdhbdvdbgdhbvdbjbdsbvhbhvbh
                  <br> lnnnlsvjkhuvjnknvjknlushuhvnjfufnvnlubvjnjnvbnjnvnjnvj
                  <br> jhkjhvsdbkbksbybvbhbbkbsvbhkbvbvbkbsgfybhbkbkskhfbyrbb
                  <br> lluhlhiuhhlhp;; hshhuhhurhhivuhnfiojoiiiiiiiuuhhh;v8rj
                  <br>
                </p>
                <h4>rate me!</h2>
                  <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a> |
              <a href="#"><p>0 comments</p></a>
                <button enable="enable">view more</button>
              </div>
              <hr>
              <div class="article-img">
                <img src="../images/blog (1).jpg" alt="article-Image">
              </div>

      </main>
    </div>
    <div class="popular-articles">
      <aside>
        <header>
          <h3>Popular Articles</h3>

        </header>
        <div class="p-article-container">
          <div class="p-articles">
            <h2>Nigerian Amongst the worst rated country!</h3>
              <p>hhggjggjvbhjbjabjbvbjbvjfbjbjbjablfbvbbvjfbjabjfvbjbfbfbjbvajbjfvbjbvfjl
                <br> hghgdhhgjhdhhbhgydhbybhbuhbhuvtvgvjdhbubjhbjbdbhbjhbdhgbjhbjuybhbybihuy
                <br>
              </p>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a>
              <a href="#"><span class="fa fa-star checked"></span></a> |
              <a href="#"><p>0 comments</p></a>
              <hr>
          </div>
          <div class="p-articles">
            <h2>Nigerian Amongst the worst rated country!</h3>
              <p>hhggjggjvbhjbjabjbvbjbvjfbjbjbjablfbvbbvjfbjabjfvbjbfbfbjbvajbjfvbjbvfjl
                <br> hghgdhhgjhdhhbhgydhbybhbuhbhuvtvgvjdhbubjhbjbdbhbjhbdhgbjhbjuybhbybihuy
                <br>
              </p>
              <hr>
          </div>
          <div class="p-articles">
            <h2>Nigerian Amongst the worst rated country!</h3>
              <p>hhggjggjvbhjbjabjbvbjbvjfbjbjbjablfbvbbvjfbjabjfvbjbfbfbjbvajbjfvbjbvfjl
                <br> hghgdhhgjhdhhbhgydhbybhbuhbhuvtvgvjdhbubjhbjbdbhbjhbdhgbjhbjuybhbybihuy
                <br>
              </p>
              <h4>rate me!</h2>
                <a href="#"></a>
                <a href="#"><span class="fa fa-star checked"></span></a>
                <a href="#"><span class="fa fa-star checked"></span></a>
                <a href="#"><span class="fa fa-star checked"></span></a>
                <a href="#"><span class="fa fa-star checked"></span></a>
                <a href="#"><span class="fa fa-star checked"></span></a> |
                <a href="#"><p>0 comments</p></a>
              <hr>
          </div>
        </div>
      </aside>
    </div>
  </div>
</body>

</html>